# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# training linked files :
/src/StoreSrc/notesTemp.js
/src/StoreSrc/storetemp.js
/src/StoreSrc/storeCopy.ts
/src/StoreSrc/Slices/dummySlice.ts
/src/StoreSrc/Features/PlayPauseExample
/src/StoreSrc/Features/freelancestemp.js
/src/StoreSrc/Features/themetemp.js


# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
